.git
.gitignore
.gcloudignore

.env
.env.*
!.env.example

.venv/
.venv*/
.venv-airflow/
airflow_home/
logs/
reports/
target/
dbt_packages/
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__/
*.pyc
*.pyo
*.pyd

local_notes/
notebooks/
.DS_Store
